header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_box {
    text-align: center;
    height: 100%;
    position: relative;
}

/* Links styling */
.header_links_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

/*
.header_links_box::after {
    content: '';
    width: 0.125rem;
    height: 2rem;
    background: var(--color-primary);
}
*/

.link_icon {
    font-size: 1.5rem;
}

/* my picture styling */
.myPicture {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30 rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* scroll arrow */
.scroll_icon {
    border:0;
    position: fixed;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 3rem;
    right: 5%;
    bottom: 2rem;
    padding: 0.5rem;
}

/* mobile size */
@media screen and (max-width: 600px) {
    .scroll_icon {
        display: none;
    }
}