
header {
    padding-top: 7rem;
    overflow: hidden;
}

.header-box {
    text-align: center;
}

/* Links styling */
.header-links-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.link-icon {
    font-size: 4rem;
}

/* my picture styling */
.my-picture {
    background: linear-gradient(var(--color-primary), transparent);
    width: 25vw;
    height: 40vw;
    margin-top: 4rem;
    border-radius: 12rem;
    overflow: hidden;
    padding: 2rem;
    object-fit: cover;
    z-index: -1;
}

/* scroll arrow */
.scroll-icon {
    border:0;
    position: fixed;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 3rem;
    right: 5%;
    bottom: 2rem;
    padding: 0.5rem;
}

/* mobile size */
@media screen and (max-width: 600px) {
    .scroll-icon {
        display: none;
    }
}